:root{
    --lightGray:#DFDFDF;
    --siteOrange:#FFC593;
    --sitePink:#BC7198;
    --siteBlue:#5A77FF;
}



button{
    font-weight: 600;
    font-size:.75rem;
    border:none;
    padding:.5rem .9rem;
    outline: 0;
    background-color: transparent;
}
.mainBtnWbg{
    background-color: #000;
    color:#fff;
}

.mainBtnWbg:hover , .mainBtnBbg:hover{
    background-color:#979797;
    color:#000;
}

.secondaryBtnWbg{
    color:#000;
    font-size: .9rem;
    padding:.5rem 0;
    font-weight: normal;
}
.secondaryBtnWbg:hover,.secondaryBtnBbg:hover{
    text-decoration:underline;
}
.mainBtnBbg{
    background-color: #fff;
    color:#000;
}

.secondaryBtnBbg{
    color:rgba(255, 255, 255, 0.784);
    font-size: .9rem;
    padding:.5rem 0;
    font-weight: normal;
}

.nav-link{
    font-size: .75rem;
    color:#000;
    padding-left:1rem !important;
    padding-right: 1rem !important;
}

.nav-link:hover{
    color:var(--bs-nav-link-color);
}
.nav-link.active{
    color:var(--sitePink) !important;
}

.borderBottom{
    border-bottom:.5px solid #979797;
}

.menuWidth{
    width: 70%;
}
.navbar-toggler[aria-expanded='true'] #menu,.navbar-toggler[aria-expanded='false'] #close{
    display: none;
}
.navbar-toggler[aria-expanded='true'] #close,.navbar-toggler[aria-expanded='false'] #menu{
    display: inline-block;
}

nav{
    position: fixed;
    width:100vw;
}

.imgSmall{
    display: inline-block;
}

.imgMedium,.imgLarge{
    display: none;
}

.homeImage,.designImage{
    order:-1;
}
h2{
    line-height: 1;
}

.homeInfo >div::before{
    content:'';
    background-image:linear-gradient(rgb(90, 119, 255),rgb(188, 113, 152),rgb(255, 197, 147));
    position: absolute;
    border-radius: 2px;
    width:20%;
    height:3px;
    top:0
   
}
@media screen and (min-width:768px) {
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }

    .borderBottom{
        border-bottom:none;
    }

    .menuWidth{
        width:auto;
    }

    .imgMedium{
        display: inline-block;
    }
    
    .imgSmall,.imgLarge{
        display: none;
    }
    .homeImage,.designImage{
        order:0;
    }

    .homeInfo >div::before{
        width:3px;
        height:100%;
        left:-3rem;
        top:unset;
    }
}

@media screen and (min-width:992px){
    .imgLarge{
        display: inline-block;
    }
    
    .imgMedium,.imgSmall{
        display: none;
    }

}