:root{
    --lightGray:#DFDFDF;
    --siteOrange:#FFC593;
    --sitePink:#BC7198;
    --siteBlue:#5A77FF;
}



button{
    font-weight: 600;
    font-size:.75rem;
    border:none;
    padding:.5rem .9rem;
    outline: 0;
    background-color: transparent;
}
.mainBtnWbg{
    background-color: #000;
    color:#fff;
}

.mainBtnWbg:hover , .mainBtnBbg:hover{
    background-color:#979797;
    color:#000;
}

.secondaryBtnWbg{
    color:#000;
    font-size: .9rem;
    padding:.5rem 0;
    font-weight: normal;
}
.secondaryBtnWbg:hover,.secondaryBtnBbg:hover{
    text-decoration:underline;
}
.mainBtnBbg{
    background-color: #fff;
    color:#000;
}

.fLink{
    font-size: .8rem;
}

.secondaryBtnBbg{
    color:rgba(255, 255, 255, 0.784);
    font-size: .9rem;
    padding:.5rem 0;
    font-weight: normal;
}

.nav-link{
    font-size: .75rem;
    color:#000;
    padding-left:1rem !important;
    padding-right: 1rem !important;
}

.nav-link:hover{
    color:var(--bs-nav-link-color);
}
.nav-link.active,.siteLinks a:hover{
    color:var(--sitePink) !important;
}

.borderBottom{
    border-bottom:.5px solid #979797;
}

.menuWidth{
    width: 70%;
}
.navbar-toggler[aria-expanded='true'] #menu,.navbar-toggler[aria-expanded='false'] #close{
    display: none;
}
.navbar-toggler[aria-expanded='true'] #close,.navbar-toggler[aria-expanded='false'] #menu{
    display: inline-block;
}

nav.navbar{
    position: fixed;
    width:100vw;
    z-index: 999;
}
.first{
    padding-top: 40px;
}
.imgSmall{
    display: inline-block;
}

.border-7{
    border-width: .2px !important;
}

.imgMedium,.imgLarge{
    display: none;
}

.homeImage,.designImage,.moonImage{
    order:-1;
}
h2{
    line-height: 1;
}

.homeInfo >div::before{
    content:'';
    background-image:linear-gradient(rgb(90, 119, 255),rgb(188, 113, 152),rgb(255, 197, 147));
    position: absolute;
    border-radius: 2px;
    width:20%;
    height:3px;
    top:0
   
}

.cardInfo{
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding:.5rem 2rem;
    transition: transform 1s;
}

.cardInfo > p{
  font-size: .6rem;
}
.cardInfo::after{
    content:'';
    background-image:linear-gradient(rgb(90, 119, 255),rgb(188, 113, 152),rgb(255, 197, 147));
    position: absolute;
    border-radius: 2px;
    width:100%;
    height:5px;
    bottom:0;
    left:0;
    opacity: 0;
}


.cardCaption:hover{
  transform: translateY(-8%);
}

.cardCaption:hover .cardInfo::after{
    opacity:1;
}

.hFeature{
    height: 72px;
}

.pFeatureWidth{
    width:88% !important;
}

.beta{
    background-image: url('../assets/shared/mobile/bg-beta.jpg');
    background-size: cover;
}

.plans{
    width:90%;
}

.plan{
    background-color: #F5F5F5;
}

.selectedPlan{
    background-color: #000;
    color:#fff;
    position: relative;
}

.selectedPlan::before{
content:'';
position: absolute;
background-image:linear-gradient(rgb(90, 119, 255),rgb(188, 113, 152),rgb(255, 197, 147));
width: 100%;
height: 4px;
top:0px;
left:0;
}

.planWidth{
    width:90%;
    margin:0 auto;
}
.pWidth{
    width:80%;
}

.compareWidth{
    width: 90%;
}

.compareWidth > .row span{
    font-weight: 600;
    font-size:.7rem;
}

.compareWidth > .row{
    border-bottom:1px solid #DFDFDF;
    padding:.8rem;
    text-align: start;
}

.compareWidth > .row:first-child{
    border-color: #000;
}

.compareWidth > .row > div:first-child{
    text-align: start;
}

.smSPan{
    color:#979797;
    font-size: .5rem;
}


@media screen and (min-width:768px) {
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }

    .borderBottom{
        border-bottom:none;
    }

    .menuWidth{
        width:auto;
    }

    .imgMedium{
        display: inline-block;
    }
    
    .imgSmall,.imgLarge{
        display: none;
    }
    .homeImage,.designImage,.moonImage{
        order:0;
    }

    .homeInfo >div::before{
        width:3px;
        height:100%;
        left:-3rem;
        top:unset;
    }

    .siteLinks{
        position: absolute;
        top:40px;
        left:0px;
    }

    .beta{
        background-image: url('../assets/shared/tablet/bg-beta.jpg');
    }

    .inviteWidth{
        width:85%;
    }
    .btnWidth{
        width:40%;
    }
    .pWidth{
        width:50%;
    }

    .selectedPlan::before{
        width: 4px;
        height: 100%;
}

.selectedPlan{
    transform: scale(1);
}

.compareWidth > .row{
    text-align: end;
}

}

@media screen and (min-width:992px){
    .imgLarge{
        display: inline-block;
    }
    
    .imgMedium,.imgSmall{
        display: none;
    }

    .siteLinks{
        position: static;
        
    }

    .beta{
        background-image: url('../assets/shared/desktop/bg-beta.jpg');
    }

    .inviteWidth{
        width:70%;
    }
    .plans{
        width:75%;
    }

    .btnWidth{
        width:100%;
    }

    .pWidth{
        width:90%;
    }

    .selectedPlan{
        transform: scale(1.1);
    }

    .selectedPlan::before{
        width: 100%;
        height: 4px;
        }

        .compareWidth{
            width: 50%;
        }

       
}
